body[a="dark"] { filter: invert(1); }
body[a="dark"] img { filter: invert(1); }
body[a="dark"] img.ioda { filter: invert(0); }

@media (prefers-color-scheme: dark) { body[a="auto"] { filter: invert(1); }
  body[a="auto"] img { filter: invert(1); }
  body[a="auto"] img.ioda { filter: invert(0); } }
html, body { background: floralwhite; max-width: 800px; margin: 0 auto; padding: 4rem 2rem; }

html { height: 100%; padding-top: 50px; padding-bottom: 50px; }

body { color: black; 
      font-family: monospace; font-size: 16px; 
      line-height: 1.4; margin: 0; min-height: 100%; overflow-wrap: break-word; background-color: floralwhite;
     padding-bottom:50px;
     padding-top:50px;}

.post-meta { text-align: right; }

h {font-family: monospace; margin-top: 1rem; margin-bottom: 0rem;}

h2, h3 {font-weight: normal; font-style: italic; text-align: center}
h4 {font-weight: normal;}

h1 { text-align: right;}

hr { margin: 1rem 0; }

a { font-family: monospace; font-size: 14px;}
a:link {color: darkred;}
a:hover {background: khaki;}

mark {color: darkred; background-color: mistyrose;}

p { font-family: Times;}

sm { font-family: Times; font-size:14px;}

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w { max-width: 800px; margin: 0 auto; padding: 4rem 2rem; }

hr { text-align: center; border: 0; margin: 40px 0 40px 0; color: lightsteelblue}
hr:before { content: "///////////////"; }
hr:after { content: attr(data-content) "///////////////"; }

table { width: 100%; }

table, th, td { border: thin solid black; border-collapse: collapse; padding: 0.4rem; }

code { color: white; background: black; }

div.highlighter-rouge code { display: block; overflow-x: auto; white-space: pre-wrap; padding: 1rem; }

blockquote { font-style: italic; border: thin solid black; padding: 1rem; }
blockquote p { margin: 0; }

img { max-width: 100%; display: block; margin: 0 auto; }

ul { font-family: Times; }
ul li { list-style-type: '\2605'; padding-left: 10px; margin-bottom: -5px;}

ol { font-size: 14px; }

ol li { font-family: monospace; }

ol p{ font-family: Times; }

strong {font-family: monospace; font-size: 14px;}
